@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    //get all children of type 'slide_item'
    var pdfs = @CurrentPage.Children.Where("DocumentTypeAlias == \"adv_items\"");
    
}
 @foreach (var apdf in @pdfs)
 {
    <p dir="ltr"><a rel="noopener noreferrer" href="@apdf.pDFLink" target="_blank" onclick="ga('send', 'event','PDF', 'download', 'PDF-@apdf.mediaName');">@apdf.linkName</a><img style="width: 24px;" src="/media/pdf-24x24.png" alt="Download PDF" />&ndash;  @apdf.pDFDate
    
    @apdf.advocacyText</p>
    
     
}
