@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
	Layout = null;



}
<!DOCTYPE html>
<html lang="en">
  <head>

    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/media/2184/aafa.ico" type="image/x-icon" />
    <meta name="google-site-verification" content="iYpR_XUc8j0Uc4UZ-z0B7SGoqzhOdqFCZVvWs4T0tYs" />
    <meta name="keyowrds" content="@CurrentPage.metaKeywords"/>
    <meta name="description" content="@CurrentPage.metaDescription"/>
    <title>@CurrentPage.pageTitle</title>
    
    <link href="/css/styles.min.css" type="text/css" rel="stylesheet"/>
    <link href="/css/extra.css"  type="text/css" rel="stylesheet"/>

    <link href="/css/image-map-pro.min.css" rel="stylesheet" />
    <link href="/css/squares.min.css" rel="stylesheet" />
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <script
  src="https://code.jquery.com/jquery-2.0.0.min.js"
  integrity="sha256-1IKHGl6UjLSIT6CXLqmKgavKBXtr0/jJlaGMEkh+dhw="
  crossorigin="anonymous"></script>
    @Html.Partial("Google-analytics")
     


	</head>

   <body class="default-theme default-header banner responsive">
       

	<div class="ltr">
		@{Html.RenderPartial("header");}
       
	    @RenderBody()

        @{ Html.RenderPartial("footer");}
 </div>


	<script type="text/javascript" src="/scripts/modernizr.js"></script>
	<script type="text/javascript" src="/scripts/jquery.bxslider.min.js"></script>
<script src="/scripts/image-map-pro.min.js" type="text/javascript"></script>
 <script src="/script/bootstrap.min.js" type="text/javascript"></script>
         <script type="text/javascript" src="/scripts/index.js" type="text/javascript"></script>
  <script src="/scripts/matchMedia.js" type="text/javascript"></script>
        <script src="/scripts/nav.dropdown.js" type="text/javascript"></script>
         <script>

             $("#").addClass("active");
             $("#").addClass("active");
             $(document).ready(function() {

                 // only setup the nav if the user has matchMedia support
                 if (window.matchMedia("only all").matches) {

                     $(document).ready(function () {
                         var nav = $(".nav-top"),
                             navInstance;

                         // construct dropdown instance
                         nav.navDropdown({
                             /* dropdown plugin options */
                             toggleSelector: ".nav-toggle"
                         });

                         // store a reference to the nav instance
                         navInstance = nav.data("navDropdown");


                         // mobile breakpoint and handler
                         var mobileQuery = "only screen and (max-width: 768px)",
                             mobileMQ = window.matchMedia(mobileQuery);

                         mobileMQ.listener = function () {
                             if (window.matchMedia(mobileQuery).matches) {
                                 navInstance.enable();
                             }
                             else {
                                 navInstance.disable();
                             }
                         };

                         // attach listener and trigger
                         mobileMQ.addListener(mobileMQ.listener);

                         // trigger listener to evaluate viewport size
                         // since it won't fire on page load
                         mobileMQ.listener();

                     });

                 }
             });
    </script>




 <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-55f19de6d3f4b203" async="async"></script>

                 
  </body>
</html>







